*{
	padding:0px;
	margin:0px;
	
}
header , section , nav , p  , img , h1 , aside{
	display:block;
} 
h1{
	font:bold 40px fantasy;
	margin-left:500px;
	
}
body{
	width:100%;
	height:100%;
	
	display:-webkit-box;
	-webkit-box-flex:1;
    -webkit-box-pack:center;
	
}

#big_wrapper{
	
	height:1000px;
	width:1600px;
    
	
	
}

#top_header{
	background-color:#ddd;
	text-align:center;
	font-family:fantasy;
	color:black;
	display:-webkit-box;
	-webkit-box-flex:1;
	
}

#main_menu{
       background:#282828;
       overflow:hidden;	   
 	   border-bottom:5px solid #0EBFE9;
	   width:100%;
}

#main_menu li{
	padding:14px 16px;
	float:left;
	text-align:center;
	color:white;
	list-style-type:none;
	font-family:fantasy;
	font-size:21px;
}
#main_menu li:hover{
	background:#ff0000;
	color:white;
	font-family:fantasy;
}
#S{
	background:red;
	color:white;
	
	
}
#S a{
	color:white;
	text-decoration:none;
	
}

#Small_Div{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	margin-left:100px;
	
	
	
}


h2{
	font-size:35px;
	font-family:fantasy;
	background:black;
	color:#ddd;
	margin-top:7px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}


#J{
	margin-left:50px;
	
}

a{
	color:white;
	text-decoration:none;
}

#Small_Div{
  
	margin-bottom:20px;
	width:1600px;
	height:300px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	margin-top:20px;

	
	
	
}
#Por{
	font-family:Sans-Serif;
	font-size:23px;
	margin-left:20px;
}
.fa-eye{
	color:#1434A4;
	
}

#Spanner{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
}
.fa-youtube-square{
	
	 
	
}

.fa-youtube-square:hover{
	background:#CCCCFF;
	color:white;

}



#text{
    margin-right:50px;
    font-family:tahoma;   
    font-size:24px;	
	text-align:center;
	margin-left:500px;
	margin-top:30px;
	color:#FF5733;
	
}

#text1{
    margin-right:50px;
    font-family:tahoma;   
    font-size:24px;	
	text-align:center;
	margin-left:300px;
	margin-top:30px;
	color:#FF5733;
}






